<html>
    <head>
        <title>Anastasia blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Anastasia blog</a></h1>
        </div>

        <div>
            <p>published: 3.11.2016, 11.34</p>
            <h2><a href="">Post 1</a></h2>
            <p>Django (/ˈdʒæŋɡoʊ/ джанго) - безкоштовний і відкритий фреймворк для створення веб додатків, написаний мовою програмування Python. Веб фреймворк - набір компонентів, які допомагають розробляти веб-сайти швидше і простіше.</p>
        </div>

        <div>
            <p>published: 3.11.2016, 12.23</p>
            <h2><a href="">Post 2</a></h2>
            <p>Щоб зрозуміти для чого насправді розроблений Django, потрібно ближче розглянути роботу серверу. Першочергово сервер повинен знати про те, що ви бажаєте щоб він обслуговував ваш сайт. Уявіть собі поштову скриньку (порт), котра моніториться на вхідні листи (запити). Це здійснюється веб сервером. Веб сервер читає листа і відсилає відповідь із веб-сторінкою. Але коли ви бажаєте відправити дещо, вам потрібно мати деякий вміст. І Django є інструментом, котрий допомагає вам створити цей контент.</p>
        </div>

        <div>
            <p>published: 3.11.2016, 12.47</p>
            <h2><a href="">Post 3</a></h2>
            <p>Перший крок - це почати новий проект Django. По суті, це означає що ми запустимо деякі скрипти, які надає Django, що створять для нас скелет Django проекту. Це просто кілька каталогів та файлів, якими ми користуватимемось пізніше.</p>
        </div>
    </body>
</html>
